<nav>
  <a class="active" href="#/home">Home</a>

  {{#if isLogged}}
  <a href="#/create">Create Meme</a>

  <!-- <p id="currentTime" data-test="{{currentUser}}" style="color:aqua; font-size:30px;">Current time: </p> -->

  <div id="profile">
    <a>Welcome {{username}}</a>
    <a href="#/profile/:{{currentUser}}">My Profile</a>
    <a href="#/logout">logout</a>
  </div>
  {{/if}}
</nav>

{{!-- <script>
  $(() => {

    setInterval(function () {
      let more = $('#currentTime').attr('data-test');
      let time = new Date();
      let hours = time.getHours();
      let minutes = time.getMinutes();
      let seconds = time.getSeconds();
      $('#currentTime').text(`Current time ${hours}:${minutes}:${seconds} - ${more}`)
    }, 1000)

  })
</script> --}}