<form action="#/checkout" method="post" id="create-receipt-form">
    <div class="col wide">
    </div>
    <div class="col wide">
    </div>
    <div class="col wide right">Total:</div>
    <div class="col">{{total}}</div>
    <div class="col">
        <input id="checkoutBtn" type="submit" value="Checkout" />
    </div>
    <input type="hidden" name="receiptId" value="{{receiptId}}" />
    <input type="hidden" name="productsCount" value="{{productsCount}}" />
    <input type="hidden" name="total" value="{{total}}" />
</form>